@model List<PortfolioModel>
@{
    ViewData["Title"] = "سایت شخصی سینا نظزی";
    //ViewData["KeyWords"] = "Sina,SINA,SIna";
}

@section SEO
    {
    <meta name="keywords" content="Home,Pages,first,HomePage" />
    <meta name="description" content="description My Portfolio" />
}

    <section id="one">
        <header class="major">
            <h2>
                @ViewData["headingTitle"]
            </h2>
        </header>
        <p>
            @ViewData["headingText"]
        </p>
    </section>


    <section id="two">
        <h2>نمونه کارهای اخیر</h2>
        <div class="row">
            @foreach (var portfolioModel in Model)
        {
            <article class="6u 12u$(small) work-item">
                <a href="~/images/thumbs/@portfolioModel.Image" class="image fit thumb" alt="@portfolioModel.Title" title="@portfolioModel.Description">
                    <img src="~/images/thumbs/@portfolioModel.Image" alt="@portfolioModel.Title" title="@portfolioModel.Description" />
                </a>
                <h3>@portfolioModel.Title</h3>
                <p>@portfolioModel.Description</p>
            </article>
        }
    </div>
</section>